* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: yellow;
}

.App {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid;
  background-color: #17001d;
  padding: 30px;
  border-radius: 10px;
}
